.text-bold {
    font-weight: 800;
}

/* Main image - left */
.main-img img {
    width: 75%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    color: black;
    font-size: 2.5rem;
}

.main-description .product-title {
    padding-top:20px;
    font-size: 20px;
    font-weight:500;
}
.price{
    font-weight:bold;
    font-size: 2rem;
    color:darkgray;
}

.buttons .block {
    margin-right: 5px;
}

.quantity input {
    border-radius: 0;
    height: 40px;

}


.custom-btn {
    text-transform: capitalize;
    background-color: #0093c4;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}
