*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    border-radius: 0px;
    height: 100%;
    
}
.card-img-top{
    width: 250px;
    height: 280px;
    padding: 30px;
    cursor: pointer;
}

.bg-primary{
    background-color: #fafafa !important;
}
.card-title{
    font-size: 17px !important;
    color: burlywood;
}
.bi{
    margin-left: 10px !important;
    font-size: 22px !important;
    cursor: pointer;
}
.bi:hover{
    color: burlywood;
}
.price{
    color: burlywood;
}
