body {
    background: #FAF9F6;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background-color: #343a40; /* You can customize the background color */
    color: #ffffff; /* You can customize the text color */
    padding: 20px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: #f5f5dc;
    }
}

/* Custom CSS */
.hero-container {
    position: relative;
  }
  
  .hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 5rem;
    color: white;
    text-shadow: -1px -1px 0 #000,  
                   1px -1px 0 #000,
                  -1px  1px 0 #000,
                   1px  1px 0 #000;
    font-weight: bold;
  }
  /* Responsive font size */
@media screen and (max-width: 991px) {
    .hero-text h1 {
      font-size: 3rem; /* Adjust the font size as needed for smaller screens */
    }
  }
  /* Responsive font size */
@media screen and (max-width: 595px) {
    .hero-text h1 {
      font-size: 2rem; /* Adjust the font size as needed for smaller screens */
    }
  }
  
  /* Additional styles for text content layout */
  .more-about-us {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .text-content .lead {
    margin-bottom: 30px;
  }
  