{% extends "base.html" %}
{% block title %}Create Product{% endblock %}

{% block content %}
{% from "includes/formhelper.html" import render_field %}

<h1 class="display-4">Create Product</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.price, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.colour, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.description, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.image, class="form-control") }}
  </div>
  <input type="submit" value="Create" class="btn btn-primary btn-block mt-3" style="background-color: white; color: black; border: 1px solid black;">
</form>
{% endblock %}