{% extends "base.html" %}
{% block title %} BeanUp Eco furniture{% endblock %}

{% block content %}

<!--put homepage content here-->
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>

<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>


<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>
<p>hellow people</p>


<p>hellow people</p>

{% endblock %}