{% extends "base.html" %}

{% block content %}
{% from "includes/formhelper.html" import render_field %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payment.css') }}">
</head>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Payment Information</h2>
    </div>
    <div class="card-body">
      <form action="{{ url_for('payment') }}" method="post" class="payment-form" id="payment-form">
        <!-- Name, Address, Email, and Phone Number fields -->
        <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
        </div>

        <div class="form-group">
        {{ render_field(form.address, class="form-control") }}
        </div>

        <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
        </div>

        <div class="form-group">
        {{ render_field(form.phone, class="form-control") }}
        </div>

        <div class="form-group">
        {{ render_field(form.card_number, class="form-control") }}
        </div>

        <div class="form-group">
        {{ render_field(form.card_expiry, class="form-control") }}
        </div>

        <div class="form-group">
        {{ render_field(form.cvv, class="form-control") }}
        </div>


        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" >Submit Payment</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}